
<html>
  <head>
    <title>Sign up</title>
<script>

$("[type=file]").on("change", function(){
  // Name of file and placeholder
  var file = this.files[0].name;
  var dflt = $(this).attr("placeholder");
  if($(this).val()!=""){
    $(this).next().text(file);
  } else {
    $(this).next().text(dflt);
  }
});
</script>
<style>

body{
background: url("/images/home1.jpeg") no-repeat center;
      background-size: cover;

}
</style>
  <style>

    label {
  display: inline-block;
  width: 5em;
  padding: 0 1em;
  text-align: right;
}
 label, input {
  color: #333;
  font: 14px/20px Arial;
}

      html, body {
      
 
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
   
      }
      
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px 350px;
      background: rgba(0, 0, 0, 0.5); 
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }
      form {
      background: rgba(0, 0, 0, 0.7); 
      }
      .title {
      display: flex;
      margin-bottom: 20px;
      }
      .info {
      display: flex;
      flex-direction: column;
      margin-top:20;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      margin-top: 10;
      }
      input::placeholder {
      color: #eee;
      }
      option:focus {
      border: none;
      }
      option {
      background: black; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      .btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px; 
      border: none;
      background: #26a9e0; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 100%;
      }
      button:hover, .btn-item:hover {
      background: #85d6de;
      }
      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }
    </style>
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">

      <form action="/csignin" method="POST">
        
       
          <center><h2>  <center>Sign up</center></h2>
       

        <div class="info">
          <input  type="text" name="fname" placeholder="Name" required>
         <input type="text" name="email" placeholder="Email" required>
          <input type="text" name="phno" placeholder="Phone number" required>
          <input type="password" name="fpass" placeholder="Password" required>
  <input type="password" name="cpass" placeholder="Confirm Password" required>
  <span>Already have an Account <a href="/login">Login</a></span>

        </div>
        <button type="submit" >Submit</button>
        <button  type="reset" >Reset</button>
      </form>
    </div>
  </body>
</html>
