<html>
<body>
<form action="/upload" method="POST" enctype="multipart/form-data">
<button class="button button1"><input type="file"  name="image" value="upload image">
<button class="button button1"><input type="submit"  name="filename" value="  START  "></button>
</form>
</body>
</html>
